* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    /* Prevent scrollbars */
    font-family: Arial, sans-serif;
}

.Img404 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    padding: 20px;
}

.Img404 .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    text-align: center;
}

.Img404 img {
    max-width: 100vw;
    max-height: 100vh;
    height: auto;
    object-fit: contain;
}

.back-home-link {
    margin-top: -130px;
    text-decoration: none;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    display: inline-block;
    border: 1px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(180deg, #04BFD7 0%, #63388B 100%);
    background-image: linear-gradient(180deg, #04BFD7 0%, #63388B 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.back-home-link:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(99, 56, 139, 0.4);
}