/* *****************************************************banner-section-start***************************************************** */
.banner-section-blog_detail {
  padding-block: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(../assets/images/blog/blog_banner.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 400px;
  height: 400px;
}

.banner-section-about-con h1 {
  font-family: 'Rajdhani', sans-serif;
  font-size: 64px;
  font-weight: 700;
  line-height: 77.44px;
  text-align: center;
  color: #ffffff;
  margin: 0;
}

.access_to_detali {
  width: 100%;
  display: flex;
  align-items: start;
  gap: 20px;
  margin-top: 40px;
}

.innovation_box {
  width: 60%;
}

.newsletter_box {
  width: 40%;
}

.blog_page_sub_text {
  font-size: 30px;
  font-weight: 700;
  line-height: 44px;
  font-family: 'Rajdhani', sans-serif;
  margin-top: 13px;
  color: #5B4492;
}

.newsletter_background {
  background: linear-gradient(180deg, #63388B 0%, #3A73AC 100%);
  padding: 40px;
  border-radius: 10px;
}

.blog_detail_img {
  width: -webkit-fill-available;
}

.news_title {
  font-size: 36px;
  font-weight: 600;
  line-height: 44px;
  font-family: 'Rubik', sans-serif;
  color: white;
  padding-bottom: 15px;
}

.newsletter_text {
  font-size: 22px;
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  line-height: 32px;
  color: white;
  padding-bottom: 22px;
}

.news_input {
  padding: 16px 18px;
  border-radius: 5px;
  outline: 0;
  border: 0;
  width: 100%;
  margin-bottom: 11px;
  font-size: 22px;
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  line-height: 44px;
  color: #666666;
}

.news_input::placeholder {
  font-size: 22px;
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  line-height: 44px;
  color: #666666;
  padding: 0 0px;
}

.mail_send_btn>button {
  border: 2px solid white;
  border-radius: 10px;
  background-color: transparent;
  color: white;
  padding: 6px;
  width: 100%;
  margin-top: 7px;
  font-size: 19px;
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  line-height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.access_blog {
  display: flex;
  align-items: center;
  gap: 70px;
  padding: 20px 0;
}

.access_flex {
  display: flex;
  gap: 10px;
  align-items: center;
}

.access_icon_text {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: #3F3F3F;
}

.access_text {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: #3F3F3F;
}

.benefits {
  margin-top: 45px;
}

.benefits_title {
  font-family: 'Rubik', sans-serif;
  font-weight: 600;
  font-size: 22px;
  line-height: 32px;
  color: #3F3F3F;
  position: relative;
  width: fit-content;
}

.benefits_title:after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0px;
  background: #3F3F3F;
  min-width: 100%;
  height: 1px;
}

.benefits_ul {
  list-style-type: disc;
  padding: 10px 0 0 18px;
}

.blog_architecture_text {
  font-size: 18px;
  font-weight: 500;
  font-family: 'Rubik', sans-serif;
  padding-top: 15px;
}

.benefits_number_text {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: #3F3F3F;
  padding-top: 10px;
}

.number_list {
  list-style-type: decimal !important;
}

.roman_list {
  list-style-type: lower-roman !important;
}

.cricle_list {
  list-style-type: circle;
  margin: 0 0 0 30px !important;
}

.cricle_list li {
  list-style-type: circle !important;
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: #3F3F3F;
}

.blog_architecture_strong_text {
  font-size: 19px;
  font-weight: 700;
  padding-top: 20px;
}

.pt-2 {
  padding-top: 15px;
}

.benefits_li {
  font-family: 'Rubik', sans-serif;
  font-size: 18px;
  line-height: 32px;
  font-weight: 600;
  color: #3F3F3F;
  list-style-type: disc;
}

.benefits_p {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: #3F3F3F;
  padding: 7px 0 17px 5px;
}

.leave_reply {
  font-size: 40px;
  line-height: 44px;
  font-weight: 600;
  font-family: 'Rubik', sans-serif;
  color: #494949;
}

.leave_p {
  font-size: 21px;
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  line-height: 26px;
  color: #494949;
  margin: 10px 0 30px 0;
}

.input_leave {
  width: 100%;
  margin: 0 0 20px 0;
  outline: 0;
  border: 0;
  background-color: #F2F2F2;
  padding: 15px 20px;
  border-radius: 5px;
  font-size: 20px;
  color: #494949;
  font-weight: 500;
  font-family: 'Rubik', sans-serif;
  line-height: 27px;
}

.input_leave::placeholder {
  font-size: 20px;
  color: #494949;
  font-weight: 500;
  font-family: 'Rubik', sans-serif;
  line-height: 27px;
}



@media (max-width:992px) {
  .access_to_detali {
    flex-direction: column-reverse;
  }

  .newsletter_box,
  .innovation_box {
    width: 100%;
  }

  .leave_reply {
    font-size: 35px;
  }

  .leave_p {
    font-size: 17px;
    margin: 8px 0 20px 0;
  }
}

@media (max-width:480px) {
  .newsletter_background {
    padding: 25px;
  }

  .news_title {
    font-size: 30px;
    line-height: 32px;
    padding-bottom: 9px;
  }

  .newsletter_text {
    font-size: 18px;
    line-height: 26px;
    padding-bottom: 18px;
  }

  .news_input {
    padding: 11px 13px;
    margin-bottom: 11px;
    line-height: 25px;
    font-size: 17px;
  }

  .news_input::placeholder {
    font-size: 17px;
    line-height: 25px;
  }

  .access_blog {
    gap: 30px;
    padding: 20px 0;
  }

  .access_icon_text {
    font-size: 17px;
  }

  .blog_page_sub_text {
    font-size: 28px;
    line-height: 34px;
  }

  .access_text,
  .benefits_p {
    font-size: 16px;
    line-height: 28px;
  }

  .benefits {
    margin-top: 30px;
  }

  .input_leave {
    padding: 15px 20px;
    font-size: 18px;
    line-height: 23px;
  }

  .input_leave::placeholder {
    font-size: 18px;
    line-height: 23px;
  }
}

@media (max-width:375px) {
  .access_blog {
    gap: 15px;
    padding: 20px 0;
  }

  .access_icon_text {
    font-size: 15px;
  }

  .access_images {
    width: 16px;
  }

  .benefits_title {
    /* width: 100%; */
    /* width: max-content; */
  }
}