:root {
  --root-black-color: #3f3f3f;
  --gradient-color: linear-gradient(244.73deg, #04bfd7 -48.91%, #63388b 79.49%);
  --white-color: #fff;
  --purple-color: #63388b;
  --gradient-color-2: linear-gradient(180deg, #63388b 0%, #3a73ac 100%);
}

/* <!-- ************************************************banner********************************************** --> */

.banner-section-web-developments {
  position: relative;
  padding-block: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(../assets/images/software/banner.webp) center / cover no-repeat;
  min-height: 400px;
  height: 400px;
}

/* Overlay */
.banner-section-web-developments::before {
  content: "";
  position: absolute;
  inset: 0;
  background: #00000080;
  z-index: 1;
}

.banner-section-web-developments>* {
  position: relative;
  z-index: 2;
}


.banner-section-about-con h1 {
  font-family: 'Rajdhani', sans-serif;
  font-size: 64px;
  font-weight: 700;
  line-height: 77.44px;
  text-align: center;
  color: #ffffff;
  margin: 0;
}

#about-hero-info {
  margin-top: 40px;
  margin-bottom: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* <!-- *****************************************************our-software-service************************************* --> */

.our-software-service-boxes-con {
  margin-top: 36px;
  display: flex;
  flex-direction: column;
  gap: 38px;
}

.our-software-service-subboxes-con {
  display: flex;
  gap: 60px;
}

.our-software-service-box {
  display: flex;
  gap: 15px;
  padding: 30px 45px 30px 30px;
  width: calc(50% - 30px);
  box-shadow: 0px 0px 14.2px 0px #00000040;
  border-radius: 11px;
}

.our-software-service-box-img-right h2 {
  font-family: 'Rubik', sans-serif;
  font-size: 26px;
  font-weight: 500;
  line-height: 30.81px;
  text-align: left;
  color: var(--root-black-color);
}

.our-software-service-box-img-right p {
  font-family: 'Rubik', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24.3px;
  text-align: left;
  color: var(--root-black-color);
  margin: 25px 0 10px 0;
}

.our-software-service-box-img-right-list-con {
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 20px !important;
}

.our-software-service-box-img-right-list-con li {
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 28.64px;
  text-align: left;
  color: var(--root-black-color);
  list-style: disc;
}

/* <!-- ********************************************how we works********************************************************** --> */

.how-we-works-boxes-con {
  margin-top: 45px;
}

.number-line {
  height: 60px;
  width: 100%;
  background: var(--gradient-color);
}

.how-we-works-subbox-con {
  display: flex;
  gap: 52px;
  margin-left: 0px;
}

.how-we-works-box {
  padding: 42px;
  width: calc(22% - 13px);
  border-radius: 0px 0px 70px 10px;
  box-shadow: 0px 0px 15px 0px #00000040;
  position: relative;
  flex: 1;
}

.number-circle {
  width: 100px;
  height: 100px;
  color: var(--white-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  position: absolute;
  left: -20px;
  top: -90px;
  border: 3px solid #ffffff;
  background: transparent;
}

.circle-1 {
  background: #574690;
}

.circle-2 {
  background: #63388b;
}

.circle-3 {
  background: #4f549b;
}

.circle-4 {
  background: #406aa7;
}

.number-circle>p {
  font-family: 'Rubik', sans-serif;
  font-size: 38px;
  font-weight: 500;
  line-height: 45.03px;
  text-align: center;
}

.how-we-works-box>h2 {
  font-family: 'Rubik', sans-serif;
  font-size: 22px;
  font-weight: 500;
  line-height: 32.34px;
  text-align: left;
  color: var(--root-black-color);
  padding-bottom: 10px;
  margin-right: 0px;
  position: relative;
  width: fit-content;
}

.how-we-works-box>h2::after {
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--root-black-color);
}

.how-we-works-box>p {
  font-family: 'Rubik', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 26.46px;
  text-align: left;
  color: var(--root-black-color);
  margin-top: 25px;
}

/* <!-- *************************************************FAQ************************************************* --> */

.faq-list-con {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.faq-list-box {
  cursor: pointer;
  box-shadow: 0px 0px 15px 0px #00000040;
}

.faq {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 30px;
  border-radius: 5px;
}

.faq-icons-con {
  color: var(--purple-color);
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}

.faq-icons-con .minus-faq {
  display: none;
}

.faq>p {
  font-family: 'Rubik', sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  text-align: left;
  color: var(--root-black-color);
  margin: 0;
}

.faq-answers {
  padding: 22px 35px;
  box-shadow: 0px 0px 15px 0px #00000040;
  display: none;
}

.faq-answers>p {
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 23.2px;
  text-align: left;
  color: var(--root-black-color);
}

.faq-ul {
  margin-top: 8px;
  margin-left: 25px;
}

.faq-ul>li {
  list-style: disc;
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 23.2px;
  text-align: left;
  color: var(--root-black-color);
}

/* <!-- *********************************************************blogs and articles***************************************** --> */

.blogs-boxes-con {
  margin-top: 27px;
  display: flex;
  gap: 40px;
}

.blogs-box {
  padding: 15px;
  border-radius: 10px;
  flex: 1;
  width: calc(33% - 25px);
  box-shadow: 0px 0px 10px 0px #00000040;
}

.blogs-box>img {
  max-width: 100%;
}

.date-con {
  margin-top: 10px;
  display: flex;
  gap: 7px;
  align-items: center;
}

.date-con>p {
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  color: var(--root-black-color);
  margin: 0px;
}

.blogs-box>h2 {
  font-family: 'Rubik', sans-serif;
  font-size: 22px;
  font-weight: 500;
  line-height: 30px;
  text-align: left;
  color: var(--root-black-color);
  margin-top: 17px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.blogs-box>a {
  margin-top: 20px;
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  color: var(--purple-color);
  display: flex;
  align-items: center;
  gap: 5px;
}

/* <!-- *****************************************************request-for the service******************************************* --> */

.request-for-the-service-con {
  display: flex;
  gap: 140px;
  align-items: flex-start;
}

.request-for-the-service-left-box {
  width: 25%;
}

.request-for-the-service-left-box>h1 {
  font-family: 'Rajdhani', sans-serif;
  font-size: 50px;
  font-weight: 700;
  line-height: 63.8px;
  text-align: left;
  color: var(--root-black-color);
}

.request-for-the-service-left-box>p {
  font-family: 'Rubik', sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 32.34px;
  text-align: left;
  color: var(--root-black-color);
  margin-top: 32px;
}

.request-for-the-service-right-box {
  flex: 1;
}

.request-for-the-service-right-box form {
  width: 100%;
  padding: 0 32px 0 32px;
  display: flex;
  gap: 40px;
  flex-direction: column;
}

.submit-forn-subbox {
  display: flex;
  align-items: center;
  gap: 90px;
}

.submit-forn-subbox>input {
  width: calc(50% - 45px);
  padding-bottom: 22px;
  border: none;
  border-block-end: 2px solid var(--root-black-color);
  outline: none;
  font-family: 'Rubik', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 30.2px;
  text-align: left;
  color: var(--root-black-color);
}

.submit-forn-subbox>input::placeholder {
  font-family: 'Rubik', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 30.2px;
  text-align: left;
  color: #717171;
}

.textarea-form {
  width: 100%;
  padding-bottom: 22px;
  border: none;
  border-block-end: 2px solid var(--root-black-color);
  outline: none;
  resize: none;
}

.textarea-form::placeholder {
  font-family: 'Rubik', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 30.2px;
  text-align: left;
  color: #717171;
}

.submit-form-request-for {
  padding: 12px 36px;
  background: var(--gradient-color-2);
  border-radius: 50px;
  cursor: pointer;
  outline: none;
  border: none;
  color: var(--white-color);
  font-family: 'Rubik', sans-serif;
  font-size: 22px;
  font-weight: 600;
  line-height: 26.07px;
  text-align: center;
  display: flex;
  align-items: center;
  width: fit-content;
}

.submit-form-request-for:hover {
  background: transparent;
  color: var(--purple-color);
  border: 2px solid var(--root-black-color);
}

.submit-form-request-for>i {
  margin-left: 7px;
}

.line_none {
  display: none;
}

@media (max-width:1440px) {
  .number-circle {
    width: 90px;
    height: 90px;
    left: -9px;
    top: -72px;
  }

  .how-we-works-subbox-con {
    gap: 35px;
    margin-left: 0px;
  }

  .number-line {
    height: 50px;
  }

  .how-we-works-box>h2 {
    font-size: 22px;
    line-height: 28.34px;
    padding-bottom: 7px;
    margin-right: 0px;
  }

  .how-we-works-box>p {
    margin-top: 15px;
  }

  .how-we-works-box {
    padding: 35px;
  }
}

@media only screen and (max-width: 1360px) {

  .number-circle {
    left: -10px;
  }

  .request-for-the-service-con {
    gap: 100px;
  }

  .request-for-the-service-left-box {
    width: 30%;
  }
}

@media only screen and (max-width: 1200px) {
  .number-circle>p {
    font-size: 34px;
  }

  .how-we-works-box {
    padding: 25px;
  }

  .how-we-works-subbox-con {
    margin-left: 0px;
  }

  .number-circle {
    left: -10px;
  }

  .blogs-boxes-con {
    gap: 50px;
  }

  .request-for-the-service-con {
    gap: 50px;
  }
}

@media only screen and (max-width: 1024px) {
  .how-we-works-subbox-con {
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    row-gap: 100px;
  }

  .number-line {
    height: 40px;
  }

  .number-circle {
    width: 80px;
    height: 80px;
    left: -9px;
    top: -63px;
  }

  .how-we-works-subbox-con::before {
    content: none;
  }

  .how-we-works-subbox-con::after {
    content: "";
    width: 100%;
    height: 40px;
    background: var(--gradient-color);
    position: absolute;
    top: 52.5%;
    z-index: -1;
  }

  .how-we-works-box {
    width: calc(50% - 26px);
    flex: unset;
    position: relative;
    z-index: 111;
    background-color: white;
  }
}

@media only screen and (max-width: 991px) {}

@media only screen and (max-width: 768px) {
  .h1 {
    font-size: 40px;
    line-height: 40px;
  }

  .p {
    line-height: 24px;
  }

  .blogs-boxes-con {
    gap: 25px;
  }

  .blogs-box>h2 {
    line-height: 25px;
  }

  .our-software-service-subboxes-con {
    flex-wrap: wrap;
    flex-direction: column;
    gap: 30px;
  }

  .our-software-service-box {
    width: unset;
    padding: 30px 30px 30px 30px;
    gap: 15px;
  }

  .request-for-the-service-con {
    flex-direction: column;
  }

  .request-for-the-service-left-box {
    width: 100%;
  }

  .request-for-the-service-left-box>h1 {
    text-align: center;
    font-size: 40px;
    line-height: 40px;
  }

  .request-for-the-service-left-box>p {
    text-align: center;

    margin-top: 15px;
    font-size: 20px;
    line-height: 28px;
  }

  .request-for-the-service-right-box {
    width: 100%;
  }

  .request-for-the-service-con {
    gap: 30px;
  }

  .request-for-the-service-right-box form {
    gap: 30px;
    padding-block: 10px;
  }

  .submit-forn-subbox {
    gap: 60px;
  }

  .number-circle {
    top: -58px;
  }

  .how-we-works-subbox-con {
    row-gap: 80px;
  }

  .how-we-works-subbox-con::after {
    top: 47%;
  }

  .how-we-works-box>h2 {
    line-height: 24.34px;
  }

  .how-we-works-box>p {
    line-height: 22.46px;
  }

  .number-circle {
    width: 75px;
    height: 75px;
    left: -6px;
  }
}

@media only screen and (max-width: 576px) {
  .banner-section-about-con h1 {
    line-height: 50.44px;
  }

  .blogs-boxes-con {
    flex-direction: column;
  }

  .blogs-box {
    width: unset;
  }

  .blogs-box>img {
    width: 100%;
  }

  .submit-form-request-for {
    font-size: 20px;

    line-height: 20.07px;
  }

  .hiring-models-box {
    width: unset;
  }

  .hiring-models-boxes-con {
    flex-direction: column;
  }

  .hiring-models-box>h2::after {
    height: 1.5px;

    bottom: -7px;
  }

  .how-we-works-subbox-con::after {
    top: 49.9%;
  }

  .number-circle>p {
    font-size: 28px;
  }
}

@media only screen and (max-width: 480px) {
.banner-section-web-developments{
      min-height: 200px;
        height: 200px;
}
  /* .number-circle{
    position: relative;
  }
  .number-circle:after{
    content: "";
    width: 100%;
    height: 40px;
    background: var(--gradient-color);
    position: absolute;
    top: 52.5%;
    z-index: -1;
  } */
  .how-we-works-box {
    width: calc(100% - 0px);
    border-radius: 0px 30px 30px 30px;
  }

  .number-circle {
    width: 70px;
    height: 70px;
    left: -10px;
  }

  .how-we-works-box>p {
    font-size: 16px;
    margin-top: 10px;
  }

  .number-line {
    height: 0px;
  }

  .how-we-works-subbox-con::after {
    content: none;
  }

  .p {
    font-size: 16px;
    line-height: 23.48px;
  }

  .submit-forn-subbox {
    gap: 30px;
  }

  .submit-forn-subbox>input {
    width: calc(50% - 15px);
  }

  .how-we-works-subbox-con::after {
    top: 52.8%;
  }

  .faq {
    padding: 12px 20px;
  }

  .client-onboarding-process-con>p {
    font-size: 16px;
  }
}

@media only screen and (max-width: 376px) {
  .our-software-service-box {
    flex-direction: column;
  }

  .faq {
    padding: 12px;
  }

  .faq-answers {
    padding: 15px 15px;
  }

  .request-for-the-service-right-box form {
    padding: 0px;
  }

  .how-we-works-box {
    width: 100%;
  }

  .how-we-works-subbox-con::before {
    height: 92%;
    right: 50%;
  }

  .how-we-works-subbox-con::after {
    width: 0%;
  }

  .number-line {
    background: transparent;
  }

  .how-we-works-box>h2 {
    margin-right: 0px;
    font-size: 19px;
  }

  .how-we-works-box>p {
    line-height: 24.46px;
  }

  .how-we-works-subbox-con {
    row-gap: 85px;
  }

  .how-we-works-box>p {
    margin-top: 15px;
  }

  .how-we-works-box>h2::after {
    height: 1px;
  }
}

@media only screen and (max-width: 320px) {
  .faq>p {
    font-size: 17px;

    line-height: 24px;
  }

  .number-circle {
    left: 95px;
  }
}