:root {
  --root-black-color: #3f3f3f;
  --gradient-color: linear-gradient(244.73deg, #04bfd7 -48.91%, #63388b 79.49%);
  --white-color: #fff;
  --purple-color: #63388b;
  --gradient-color-2: linear-gradient(180deg, #63388b 0%, #3a73ac 100%);
}

/* <!-- ************************************************healthcare-banner********************************************** --> */

.banner-section-about {
  background: url(../assets/images/healthcare/banner.svg) center;
}

/* <!-- ************************************************advance-healthcare********************************************** --> */
.advance-healthcare-con {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.advance-healthcare-con h2 {
  font-family: Rajdhani;
  font-size: 30px;
  font-weight: 600;
  line-height: 36.3px;
  text-align: center;
  color: var(--root-black-color);
  width: fit-content;
  margin: 0 auto;
  position: relative;
}

.advance-healthcare-con h2::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background: var(--root-black-color);
  bottom: 0;
  left: 0;
}

.advance-healthcare-con h1 {
  font-family: Rajdhani;
  font-size: 44px;
  font-weight: 700;
  line-height: 53.24px;
  text-align: center;
  color: var(--root-black-color);
}

.advance-healthcare-con p {
  font-family: Rubik;
  font-size: 18px;
  font-weight: 400;
  line-height: 26.46px;
  text-align: center;
  color: var(--root-black-color);
  padding-inline: 5%;
}

/* <!-- ************************************************our-healthcare-it-service********************************************** --> */
.our-healthcare-it-service-wrapper .container {
  overflow: visible;
}

.our-healthcare-it-service-con > h1 {
  font-family: Rajdhani;
  font-size: 44px;
  font-weight: 700;
  line-height: 53.24px;
  text-align: center;
  color: var(--root-black-color);
}

.our-healthcare-cards-con {
  margin-top: 26px;
  display: flex;
  gap: 70px;
  flex-wrap: wrap;
}

.our-healthcare-card {
  padding: 25px 60px 25px 25px;
  box-shadow: 0px 0px 14.2px 0px #00000040;
  border-radius: 11px;
  display: flex;
  align-items: flex-start;
  gap: 12px;
  width: calc(50% - 35px);
}

.healthcare-card-desc {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.healthcare-card-desc > h2 {
  font-family: Rubik;
  font-size: 26px;
  font-weight: 500;
  line-height: 30.81px;
  text-align: left;
  color: var(--root-black-color);
}

.healthcare-card-desc > p {
  font-family: Rubik;
  font-size: 18px;
  font-weight: 400;
  line-height: 24.3px;
  text-align: justify;
  color: var(--root-black-color);
}

/* <!-- ************************************************healthcare-technology********************************************** --> */

.healthcare-technology-wrapper .container {
  overflow: visible;
}

.healthcare-tech-con h1 {
  font-family: Rajdhani;
  font-size: 44px;
  font-weight: 700;
  line-height: 53.24px;
  text-align: center;
  color: var(--root-black-color);
}

.healthcare-tech-con > p {
  font-family: Rubik;
  font-size: 18px;
  font-weight: 400;
  line-height: 26.46px;
  text-align: center;
  color: var(--root-black-color);
  padding-inline: 10%;
  margin-top: 11px;
}

.healthcare-tech-boxes-con {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
}
.relative {
  position: relative;
}
.healthcare-card-layout {
  width: 21%;
  padding: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.healthcare-tech-box {
  padding: 40px;
  border-radius: 26px;
  border: 3px solid #ebebeb;
  box-shadow: 0px 4px 18.6px 0px #00000040;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 255px;
  height: 255px;
  max-width: 255px;
  max-height: 255px;
  gap: 26px;
  position: static;
  z-index: 9;
  background-color: white;
}

.healthcare-card-layout::before {
  content: "";
  width: 100%;
  height: 70%;
  position: absolute;
  z-index: -1;
  background: var(--gradient-color-2);
  border-radius: 0 0 40px 40px;
  bottom: -10px;
}

.healthcare-tech-box > p {
  font-family: Rubik;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.33px;
  text-align: center;
  color: var(--root-black-color);
}

.white-box {
  width: 90px;
  height: 100px;
  background-color: var(--white-color);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: -40px;
  left: 50%;
  transform: translateX(-50%);
}

.box-nuvber {
  height: 65px;
  width: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: var(--gradient-color-2);
}

.box-nuvber p {
  font-family: Rubik;
  font-size: 29px;
  font-weight: 600;
  line-height: 34.37px;
  text-align: center;
  color: var(--white-color);
}

/* <!-- **********************************************************development-process************************************ --> */

.development-process-con h1 {
  font-family: Rajdhani;
  font-size: 44px;
  font-weight: 700;
  line-height: 53.24px;
  text-align: center;
  color: var(--root-black-color);
}

.development-process-con p {
  font-family: Rubik;
  font-size: 18px;
  font-weight: 400;
  line-height: 26.46px;
  text-align: center;
  color: var(--root-black-color);
  margin-top: 8px;
}

.development-process-steps-con {
  display: flex;
  align-items: center;
  gap: 50px;
}

.development-process-steps-img {
  width: 35%;
}

.development-process-steps {
  display: flex;
  flex-direction: column;
  gap: 44px;
  padding-top: 35px;
}

.development-process-box-1 {
  display: flex;
  gap: 60px;
}

.development-process-subbox {
  display: flex;
  align-items: flex-start;
  flex: 1;
  gap: 15px;
  width: calc(50% - 30px);
}

.development-process-subbox-number p {
  height: 45px;
  max-width: 45px;
  min-width: 45px;
  box-shadow: 0px 4px 16.3px 0px #00000040;
  border-radius: 50%;
  font-size: 20px;
  font-weight: 600;
  color: var(--root-black-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.development-process-subbox-name h2 {
  font-family: Rubik;
  font-size: 22px;
  font-weight: 500;
  line-height: 32.34px;
  text-align: left;
  color: var(--root-black-color);
  margin-top: 6px;
}

.development-process-subbox-name p {
  font-family: Rubik;
  font-size: 18px;
  font-weight: 300;
  line-height: 26.46px;
  text-align: left;
  color: var(--root-black-color);
  margin-top: 5px;
}

/* <!-- **********************************************************Client Onboarding Process************************************ --> */

.client-onboarding-process-con h1 {
  font-family: Rajdhani;
  font-size: 44px;
  font-weight: 700;
  line-height: 53.24px;
  text-align: center;
  color: var(--root-black-color);
}

.client-onboarding-process-con > p {
  font-family: Rubik;
  font-size: 18px;
  font-weight: 400;
  line-height: 26.46px;
  text-align: center;
  color: var(--root-black-color);
  margin-top: 13px;
  padding-inline: 15%;
}

.client-onboarding-process-boxes-con {
  margin-top: 34px;
  display: flex;
  flex-direction: column;
  gap: 17px;
  padding-inline: 100px;
}

.client-onboarding-process-box {
  border-radius: 4px;
  box-shadow: 0px 0px 10px 0px #00000040;
  display: flex;
  align-items: center;
  padding: 13px 45px;
  gap: 25px;
  width: 70%;
}

.client-onboarding-process-box-number {
  height: 40px;
  max-width: 40px;
  min-width: 40px;
  border-radius: 50%;
  background: var(--gradient-color);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-block: auto;
  margin-left: -65px;
}

.client-onboarding-process-box-number p {
  font-family: Rubik;
  font-size: 17px;
  font-weight: 500;
  line-height: 20.15px;
  text-align: center;
  color: var(--white-color);
}

.margin-left {
  margin-left: auto;
}

.client-onboarding-process-box-desc {
  display: flex;
  align-items: center;
  gap: 8px;
}

.client-onboarding-process-box-desc > p {
  font-family: Rubik;
  font-size: 18px;
  font-weight: 300;
  line-height: 26.46px;
  text-align: left;
  color: var(--root-black-color);
}

.client-onboarding-process-box-desc > strong {
  font-family: Rubik;
  font-size: 20px;
  font-weight: 500;
  line-height: 29.4px;
  text-align: center;
  color: var(--root-black-color);
}

/* <!-- **********************************************************Hiring Models************************************ --> */

.hiring-models-con h1 {
  font-family: Rajdhani;
  font-size: 44px;
  font-weight: 700;
  line-height: 53.24px;
  text-align: center;
  color: var(--root-black-color);
}

.hiring-models-con > p {
  font-family: Rubik;
  font-size: 18px;
  font-weight: 400;
  line-height: 26.46px;
  text-align: center;
  color: var(--root-black-color);
  margin-top: 12px;
}

.hiring-models-boxes-con {
  margin-top: 40px;
  display: flex;
  gap: 85px;
}

.hiring-models-box {
  box-shadow: 0px 0px 15px 0px #00000040;
  border-radius: 11px;
  padding: 10px 10px;
  width: calc(33% - 50px);
  flex: 1;
}

.hiring-models-box > h2 {
  font-family: Rubik;
  font-size: 26px;
  font-weight: 500;
  line-height: 38.22px;
  text-align: center;
  color: var(--root-black-color);
  position: relative;
  width: fit-content;
  margin: 0 auto !important;
}

.hiring-models-box > h2::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  background: var(--root-black-color);
  bottom: 0;
}

.hiring-models-box > p {
  font-family: Rubik;
  font-size: 18px;
  font-weight: 400;
  line-height: 26.46px;
  text-align: center;
  margin-top: 18px !important;
  color: var(--root-black-color);
}

/* <!-- **********************************************************Past Projects************************************ --> */

.past-project-con {
  display: flex;
  align-items: center;
  gap: 100px;
}

.past-project-left-box {
  width: 30%;
}

.past-project-left-box img {
  width: 100%;
  display: none;
}

.past-project-right-box {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.past-project-right-box > h1 {
  font-family: Rajdhani;
  font-size: 44px;
  font-weight: 700;
  line-height: 40.24px;
  text-align: center;
  color: var(--root-black-color);
}

.past-project-right-box > p {
  font-family: Rubik;
  font-size: 18px;
  font-weight: 400;
  line-height: 28.04px;
  text-align: left;
  color: var(--root-black-color);
  margin-top: 15px;
}

.past-projects-list {
  width: 100%;
  padding: 20px 35px;
  box-shadow: 0px 0px 10px 0px #00000040;
  border-radius: 5px;
  cursor: pointer;
}

.past-projects-list-con {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  margin-top: 18px;
}

.past-projects-list p {
  font-family: Rubik;
  font-size: 20px;
  font-weight: 500;
  line-height: 31.16px;
  text-align: left;
  color: var(--root-black-color);
}

.after-apply-info-second-p {
  position: relative;
}

.after-apply-info-second-p::after {
  content: "";
  width: 1px;
  height: 100%;
  position: absolute;
  right: -21px;
  background: var(--root-black-color);
}

@media only screen and (max-width: 1360px) {
  .client-onboarding-process-boxes-con {
    padding-inline: 60px;
  }
  .past-project-con {
    gap: 60px;
  }
}
@media only screen and (max-width: 1200px) {
  .healthcare-tech-box {
    width: 210px;
    height: 210px;
    gap: 10px;
  }

  .client-onboarding-process-boxes-con {
    padding-inline: 20px;
  }

  .client-onboarding-process-box {
    padding: 13px 25px;
    gap: 7px;
  }

  .client-onboarding-process-box-number {
    margin-left: -45px;
  }
}
@media only screen and (max-width: 1024px) {
  .healthcare-card-layout {
    width: 24%;
  }

  .development-process-subbox-name h2 {
    font-size: 19px;

    line-height: 24.34px;
  }

  .development-process-subbox-name p {
    font-size: 15px;

    line-height: 24.46px;
  }

  .development-process-box-1 {
    gap: 20px;
  }

  .development-process-steps {
    gap: 20px;
  }

  .client-onboarding-process-box {
    width: 85%;
  }

  .hiring-models-boxes-con {
    gap: 50px;
  }

  .hiring-models-box {
    width: calc(33% - 25px);
  }

  .apply-info-text {
    gap: 15px;
  }
}
@media only screen and (max-width: 992px) {
  .advance-healthcare-con p {
    padding-inline: 0%;
  }

  .our-healthcare-cards-con {
    gap: 50px;
  }

  .our-healthcare-card {
    width: calc(50% - 25px);
  }

  .healthcare-card-desc {
    gap: 15px;
  }

  .client-onboarding-process-con > p {
    padding-inline: 0%;
  }

  .healthcare-tech-con > p {
    padding-inline: 0%;
  }

  .client-onboarding-process-box {
    width: 87%;
  }

  .past-projects-list p {
    font-size: 18px;

    line-height: 24.16px;
  }

  .apply-info-text {
    gap: 8px;
  }

  .after-apply-info-second-p::after {
    right: -13px;
  }

  .development-process-steps-con {
    flex-direction: column;
    gap: 0;
  }

  .development-process-steps-img {
    display: contents;
  }

  .development-process-steps {
    padding-top: 15px;
  }

  .development-process-subbox-name p {
    margin-top: 0px;
  }

  .development-process-steps {
    gap: 10px;
  }
}
@media only screen and (max-width: 768px) {
  .advance-healthcare-con h2::after {
    width: 0%;
  }

  .hiring-models-box > h2::after {
    bottom: -6px;
  }
  .advance-healthcare-con h1 {
    font-size: 40px;

    line-height: 40.24px;
  }

  .advance-healthcare-con p {
    line-height: 24px;
  }

  .our-healthcare-it-service-con > h1 {
    font-size: 40px;

    line-height: 40.24px;
  }

  .our-healthcare-card {
    width: 100%;
  }

  .healthcare-card-desc > h2 {
    font-size: 22px;

    line-height: 24.81px;
  }

  .healthcare-card-desc > p {
    font-size: 18px;

    line-height: 22.3px;
  }

  .healthcare-card-desc {
    gap: 10px;
  }

  .our-healthcare-cards-con {
    gap: 30px;
  }

  .healthcare-tech-con h1 {
    font-size: 40px;

    line-height: 40.24px;
  }

  .healthcare-tech-con > p {
    line-height: 24.46px;
  }

  .healthcare-tech-boxes-con {
    margin-top: 0px;
    gap: 50px;
  }

  .healthcare-card-layout {
    width: calc(50% - 25px);
  }

  .development-process-con h1 {
    font-size: 40px;

    line-height: 40.24px;
  }

  .development-process-steps-con {
    flex-direction: column;
    gap: 0;
  }

  .development-process-steps-img {
    display: contents;
  }

  .development-process-steps {
    padding-top: 15px;
  }

  .development-process-subbox-name p {
    margin-top: 0px;
  }

  .development-process-steps {
    gap: 10px;
  }

  .client-onboarding-process-con h1 {
    font-size: 40px;

    line-height: 40.24px;
  }

  .client-onboarding-process-con > p {
    line-height: 24.46px;

    margin-top: 8px;
  }
  .client-onboarding-process-boxes-con {
    margin-top: 20px;
  }

  .client-onboarding-process-box {
    width: 100%;
  }

  .client-onboarding-process-box-desc > p {
    font-size: 16px;

    line-height: 20.46px;
  }

  .client-onboarding-process-box-desc > strong {
    font-size: 16px;

    line-height: 24.4px;
  }

  .hiring-models-con h1 {
    font-size: 40px;

    line-height: 40.24px;
  }

  .hiring-models-boxes-con {
    margin-top: 25px;
  }

  .hiring-models-box {
    padding: 20px 20px;
  }

  .hiring-models-boxes-con {
    gap: 40px;
  }

  .hiring-models-box {
    width: calc(33% - 20px);
  }

  .hiring-models-box > h2 {
    font-size: 20px;

    line-height: 20.22px;
  }

  .hiring-models-box > p {
    font-size: 17px;

    line-height: 24.46px;

    margin-top: 12px;
  }

  .hiring-models-con > p {
    margin-top: 7px;
  }

  .past-project-con {
    gap: 30px;
    display: flex;
    flex-direction: column;
  }

  .past-project-right-box {
    align-items: unset;
  }

  .past-project-right-box > p {
    text-align: center;

    margin-top: 8px;
  }

  .past-projects-list {
    padding: 15px 20px;
  }

  .past-project-left-box {
    width: 50%;
  }

  .apply-info-second-p {
    margin-left: 0px;
  }

  .apply-info-text > p {
    line-height: 27.18px;
    text-align: center;
  }
  .contact-num {
    font-size: 15px !important;
  }

  .apply-info-second-p {
    position: relative;
  }

  .apply-info-second-p::before {
    content: "";
    position: absolute;
    height: 100%;
    background-color: var(--root-black-color);
    width: 1px;
    right: -2px;
  }

  .apply-info-second-p:last-child::before {
    width: 0;
  }

  .after-apply-info-second-p::after {
    width: 0px;
  }

  .advance-healthcare-con {
    gap: 15px;
  }
}
@media only screen and (max-width: 575px) {
}
@media only screen and (max-width: 480px) {
  .hiring-models-con > p {
    font-size: 16px;
    line-height: 23.48px;
}
  .healthcare-tech-boxes-con {
    gap: 20px;
  }

  .healthcare-card-layout {
    width: calc(50% - 10px);
  }

  .hiring-models-boxes-con {
    flex-direction: column;
  }

  .hiring-models-box {
    width: 100%;
  }

  .past-projects-list p {
    text-align: center;
  }

  .apply-info-second-p::before {
    width: 0px;
  }
}
@media only screen and (max-width: 376px) {
  .healthcare-tech-boxes-con {
    flex-direction: column;
  }

  .healthcare-card-layout {
    width: 100%;
  }

  .development-process-box-1 {
    flex-direction: column;
  }

  .development-process-subbox {
    width: 100%;
  }

  .development-process-box-1 {
    gap: 10px;
  }

  .client-onboarding-process-box-desc > p {
    text-align: center;
  }

  .our-healthcare-card {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 25px;
  }

  .healthcare-card-desc > h2 {
    line-height: 24.81px;
    text-align: center;
  }

  .healthcare-card-desc > p {
    line-height: 24.3px;
    text-align: center;
  }
}
@media only screen and (max-width: 320px) {
}
