:root {
  --root-black-color: #3f3f3f;
  --gradient-color: linear-gradient(244.73deg, #04bfd7 -48.91%, #63388b 79.49%);
  --white-color: #fff;
  --purple-color: #63388b;
  --gradient-color-2: linear-gradient(180deg, #63388b 0%, #3a73ac 100%);
}

/* <!-- ************************************************banner********************************************** --> */

.banner-section-web-developments {
  padding-block: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(../assets/images/fintech/banner.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 400px;
  height: 400px;
}


.banner-section-about-con h1 {
  font-family: Rajdhani;
  font-size: 64px;
  font-weight: 700;
  line-height: 77.44px;
  text-align: center;
  color: #ffffff;
  margin: 0;
}
#about-hero-info {
  margin-top: 40px;
  margin-bottom: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* <!-- ********************************************Development Process********************************************************** --> */

#development-process .how-we-works-box {
  padding: 50px 35px 35px 35px;
  width: 200px;
  background: var(--white-color);
}

#development-process .how-we-works-subbox-con {
  margin-left: 0px;
  gap: 47px;
  flex-wrap: wrap;
  position: relative;
}
#development-process .number-line {
  position: relative;
}

#development-process .how-we-works-box-6 {
  margin-top: 70px;
}

#development-process .number-line::after {
  content: "";
  width: 100%;
  position: absolute;
  height: 60px;
  background: var(--gradient-color-2);
  bottom: -730%;
}

#development-process .how-we-works-boxes-con {
  position: relative;
}

#development-process .how-we-works-boxes-con::after {
  content: "";
  width: 60px;
  height: 65%;
  position: absolute;
  right: 0;
  top: 0;
  background: var(--gradient-color-2);
  z-index: -99;
}
#number-line {
  background: linear-gradient(90deg, #3a73ac 0%, #63388b 100%);
}
#development-process .how-we-works-box > h2 {
  margin-right: 40px;
}

#development-process .number-circle {
  width: 93px;
  height: 93px;
  left: -68px;
  top: -78px;
}

.circle-6 {
  background: #574690;
}
.circle-7 {
  background: #63388b;
}
.circle-8 {
  background: #4f549b;
}
.circle-9 {
  background: #406aa7;
}
.circle-10 {
  background: #307aac;
}

#development-process .how-we-works-boxes-con {
  margin-left: 60px;
}

#how-we-works-boxes-con-inner {
  margin-top: 70px;
}
.number-line {
  height: 60px;
  width: 100%;
  background: var(--gradient-color);
}


/* <!-- **************************************************technology-expertise************************************** --> */

.fintech .technology-frameworks-heading-con {
  padding: 7px 56px;
  gap: 60px;
}

@media only screen and (max-width: 1440px) {
}
@media only screen and (max-width: 1360px) {
  #development-process .how-we-works-box {
    width: 200px;
  }
.number-line{
  height: 57px;
}
  #development-process .number-line::after {
    bottom: -781%;
  }
}
@media only screen and (max-width: 1280px) {
  #development-process .how-we-works-box {
    padding: 25px;
    width: 200px;
  }
  .number-line{
    height: 52px;
  }
  .how-we-works-box > p {
    font-size: 18px;
    line-height: 21.46px;
    margin-top: 17px;
  }

  .how-we-works-box > h2 {
    line-height: 24.34px;
  }

  #development-process .number-line::after {
    bottom: -645%;
  }
}
@media only screen and (max-width: 1200px) {
  #development-process .how-we-works-box {
    width: 180px;
  }

  #development-process .number-line::after {
    bottom: -680%;
  }
  .number-line {
    height: 53px;
    width: 100%;
    background: var(--gradient-color);
}
}
@media only screen and (max-width: 1024px) {
  .why-transcode-box {
    padding: 30px;
  }

  #development-process .how-we-works-subbox-con::after {
    width: 0%;
  }
  #development-process .how-we-works-subbox-con::before {
    width: 0%;
  }

  #development-process .how-we-works-boxes-con::after {
    width: 0px;
  }

  .technology-expertise-container {
    width: 100%;
  }

  .fintech .technology-frameworks-heading-con {
    padding: 7px;
    margin-inline: 0;
    gap: 60px;
  }

  #development-process .number-line::after {
    height: 30px;
  }

  #development-process .how-we-works-box-6 {
    margin-top: 0px;
  }

  #development-process .how-we-works-box {
    width: 200px;
  }
}
@media only screen and (max-width: 992px) {
  .fintech .technology-frameworks-heading {
    width: fit-content;
  }
}
@media only screen and (max-width: 768px) {
  .why-transcode-box {
    width: 100%;
  }

  .why-transcode-subbox-con {
    flex-direction: column;
  }

  .why-transcode-box > img {
    width: 10%;
  }

  .why-transcode-box > h1 {
    font-size: 24px;
    line-height: 24.55px;
    margin-top: 15px;
  }

  .why-transcode-box > p {
    font-size: 16px;
    line-height: 23.46px;
    margin-top: 15px;
  }

  .fintech .technology-frameworks-heading-con {
    overflow-x: scroll;
  }
}
@media only screen and (max-width: 575px) {
  .why-transcode-box > img {
    width: 15%;
  }

  .fintech .technology-frameworks-heading-con {
    gap: 40px;
  }
}
@media only screen and (max-width: 480px) {
}
@media only screen and (max-width: 375px) {
  .why-transcode-box > img {
    width: 20%;
  }
}
@media only screen and (max-width: 320px) {
}
