/* <!-- ************************************************healthcare-banner********************************************** --> */

.banner-section-industries {
  padding-block: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(../assets/images/healthcare/industries_banner.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 400px;
  height: 400px;
}

.banner-section-about-con h1 {
  font-family: 'Rajdhani', sans-serif;
  font-size: 64px;
  font-weight: 700;
  line-height: 77.44px;
  text-align: center;
  color: #ffffff;
  margin: 0;
}

#about-hero-info {
  margin-top: 40px;
  margin-bottom: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width:768px) {
  .business_card ul li {
    padding: 10px 10px;
    width: 100%;
  }

  .empowering-card {
    width: calc(100% - 0px);
  }
}

@media (max-width:576px) {
  .empowering-icon-con {
    margin: 0;
  }

  .empowering-card>h2 {
    text-align: left;
  }

  .empowering-card>p {
    text-align: left;
  }

  .healthcare_ul {
    padding: 0px !important;
  }

  .empowering-card .empower-read-more {
    margin-inline: 0px;
  }
}

@media (max-width:480px) {

  .banner-section-industries {
    min-height: 200px;
      height: 200px;
  }

  .empowering-card>h2 {
    text-align: left;
  }

  .empowering-card>p {
    font-size: 16px;
  }

  .business_card ul li {
    font-size: 16px;
  }

  .empowering-card .empower-read-more {
    margin-inline: 0px;
  }
}