:root {
  --root-black-color: #3f3f3f;
  --gradient-color: linear-gradient(244.73deg, #04bfd7 -48.91%, #63388b 79.49%);
  --white-color: #fff;
  --purple-color: #63388b;
  --gradient-color-2: linear-gradient(180deg, #63388b 0%, #3a73ac 100%);
}

/* <!-- ************************************************banner********************************************** --> */
.banner-section-web-developmenttt {
  padding-block: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(../assets/images/ecommerce/ecommerce-banner.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 400px;
  height: 400px;
}


.banner-section-about-con h1 {
  font-family: 'Rajdhani', sans-serif;
  font-size: 64px;
  font-weight: 700;
  line-height: 77.44px;
  text-align: center;
  color: #ffffff;
  margin: 0;
}

#about-hero-info {
  margin-top: 40px;
  margin-bottom: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* <!-- **************************************************technology-expertise************************************** --> */

.ind-ecomm .technology-frameworks-heading-con {
  padding: 7px 0px;
  margin-inline: 0px;
}

@media only screen and (max-width: 480px) {
  .banner-section-web-developmenttt {
    min-height: 200px;
    height: 200px;
  }
}