:root {
  --root-black-color: #3f3f3f;
  --gradient-color: linear-gradient(244.73deg, #04bfd7 -48.91%, #63388b 79.49%);
  --white-color: #fff;
  --purple-color: #63388b;
  --gradient-color-2: linear-gradient(180deg, #63388b 0%, #3a73ac 100%);
}

/* <!-- ************************************************banner********************************************** --> */

.banner-section-web-developments {
  padding-block: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(../assets/images/realEstate/banner.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 400px;
  height: 400px;
}


.banner-section-about-con h1 {
  font-family: 'Rajdhani', sans-serif;
  font-size: 64px;
  font-weight: 700;
  line-height: 77.44px;
  text-align: center;
  color: #ffffff;
  margin: 0;
}

#about-hero-info {
  margin-top: 40px;
  margin-bottom: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}


/* <!-- **************************************************technology-expertise************************************** --> */

/* .realEstate .technology-expertise-container {
  width: 1300px;
}

.realEstate .technology-expertise-con > p {
  margin-inline: 14%;
}

.realEstate .frameworks-image-box-con {
  margin-inline: 17%;
}

.frameworks-image-box {
  padding: 27px;
}

.realEstate .technology-frameworks-heading-con {
  padding: 7px 0px;
  margin-inline: 0px;
  gap: 65px;
}
@media only screen and (max-width: 1280px) {
  .realEstate .technology-frameworks-heading-con {
    gap: 59px;
  }
}
@media only screen and (max-width: 1200px) {
  .realEstate .technology-frameworks-heading-con {
    gap: 43px;
  }
}
@media only screen and (max-width: 1024px) {
  .case-study .work-portfolio-cards-con {
    gap: 45px;
  }

  .case-study .work-portfolio-card {
    width: calc(33% - 15px);
  }

  .realEstate .technology-expertise-con > p {
    margin-inline: 4%;
  }

  .realEstate .technology-expertise-container {
    width: 100%;
  }

  .realEstate .technology-frameworks-heading {
    width: fit-content;
  }

  .realEstate .technology-frameworks-heading-con {
    overflow-x: scroll;
    gap: 65px;
  }

  .realEstate .frameworks-image-box-con {
    margin-inline: 5%;
  }
}
@media only screen and (max-width: 768px) {
  .case-study .work-portfolio-cards-con {
    gap: 45px;
  }

  .case-study .work-portfolio-card {
    width: 100%;
  }

  .realEstate .frameworks-image-box-con {
    margin-inline: 0%;
  }

  .realEstate .technology-frameworks-heading-con {
    gap: 35px;
  }
} */