h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  /* margin: 0px !important; */
  padding: 0px;
}

ul,
ol,
li {
  padding: 0;
  margin: 0;
}

/* <!-- ************************************************banner********************************************** --> */
.banner-section-web-development {
  padding-block: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(../assets/images/SEO/SEO.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 400px;
  height: 400px;
}

.banner-section-about-con h1 {
  font-family: Rajdhani;
  font-size: 64px;
  font-weight: 700;
  line-height: 77.44px;
  text-align: center;
  color: #ffffff;
  margin: 0;
}

#about-hero-info {
  margin-top: 40px;
  margin-bottom: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* <!-- ************************************************how do we********************************************** --> */
.how-do-we-work-cards-con {
  display: flex;
  gap: 35px;
}

.how-do-we-work-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: calc(25% - 20px);
  gap: 53px;
  position: relative;
  cursor: pointer;
}

.how-do-we-work-inner-box .heading {
  position: relative;
}

h2.heading.how_text_mobile_view {
  height: 40px;
}

h2.heading.batter {
  height: 40px;
}

#how-do-we-work-card-11::after {
  content: "";
  width: 100%;
  height: 95px;
  position: absolute;
  background: #574690;
  top: 33%;
  left: 0%;
  z-index: 1;
}

#how-do-we-work-card-22::after {
  content: "";
  width: 100%;
  height: 95px;
  position: absolute;
  background: #4f549b;

  top: 34%;
  left: 0%;
  z-index: 1;
}

#how-do-we-work-card-33::after {
  content: "";
  width: 100%;
  height: 95px;
  position: absolute;
  background: #406aa7;
  top: 33%;
  left: 0%;
  z-index: 1;
}

#how-do-we-work-card-44::after {
  content: "";
  width: 100%;
  height: 95px;
  position: absolute;
  background: #307aac;
  top: 33%;
  left: 0%;
  z-index: 1;
}

.how-do-we-work-cards-con {
  margin-top: 13px;
}

.how-do-we-work-inner-box {
  box-shadow: 0px 0px 15px 0px #00000040;
  border-radius: 5px;
  position: relative;
  margin-inline: 15px;
  height: 100%;
}

.how-do-we-work-inner-box p {
  padding: 45px 33px 43px 33px;
}

.how-do-we-work-inner-box::after {
  content: "";
  width: 80%;
  height: 10px;
  position: absolute;
  background: transparent;
  bottom: -2%;
  left: 10%;
}

.how-do-we-work-card:hover .how-do-we-work-inner-box::after {
  background: var(--purple-color);
}

#how-do-we-work-card-1::before {
  content: "";
  width: 80%;
  height: 10px;
  position: absolute;
  background: #574690;
  top: -16%;
  left: 10%;
}

#how-do-we-work-card-1::after {
  content: "";
  width: 80%;
  height: 10px;
  position: absolute;
  background: transparent;
  bottom: -2%;
  left: 10%;
  transition: all 0.6s ease-in-out;
}

.how-do-we-work-card:hover #how-do-we-work-card-1::after {
  background: #574690;
}

#how-do-we-work-card-2::before {
  content: "";
  width: 80%;
  height: 10px;
  position: absolute;
  background: #4f549b;

  top: -16%;
  left: 10%;
}

#how-do-we-work-card-2::after {
  content: "";
  width: 80%;
  height: 10px;
  position: absolute;
  background: transparent;
  bottom: -2%;
  left: 10%;
  transition: all 0.6s ease-in-out;
}

.how-do-we-work-card:hover #how-do-we-work-card-2::after {
  background: #4f549b;
}

#how-do-we-work-card-3::before {
  content: "";
  width: 80%;
  height: 10px;
  position: absolute;
  background: #406aa7;
  top: -16%;
  left: 10%;
}

#how-do-we-work-card-3::after {
  content: "";
  width: 80%;
  height: 10px;
  position: absolute;
  background: transparent;
  bottom: -2%;
  left: 10%;
  transition: all 0.6s ease-in-out;
}

.how-do-we-work-card:hover #how-do-we-work-card-3::after {
  background: #406aa7;
}

#how-do-we-work-card-4::before {
  content: "";
  width: 80%;
  height: 10px;
  position: absolute;
  background: #307aac;
  top: -16%;
  left: 10%;
}

#how-do-we-work-card-4::after {
  content: "";
  width: 80%;
  height: 10px;
  position: absolute;
  background: transparent;
  bottom: -2%;
  left: 10%;
  transition: all 0.6s ease-in-out;
}

.how-do-we-work-card:hover #how-do-we-work-card-4::after {
  background: #307aac;
}

.how-do-we-work-inner-box > h2 {
  font-family: Rajdhani;
  font-size: 24px;
  font-weight: 600;
  line-height: 36.3px;
  text-align: center;
  color: var(--white-color);
  position: static;
  z-index: 99;
}

.how-do-we-work-inner-box > p {
  font-family: Rubik;
  font-size: 18px;
  font-weight: 400;
  line-height: 26.46px;
  text-align: center;
  color: var(--root-black-color);
  margin-top: 10px;
  /* margin-top: 44px; */
}

/* .development-process-steps-con {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
    margin-top: 20px;
}
.we_follow_text{
    font-weight: 400 !important;
    font-size: 18px !important;
    font-family: Rubik !important;
    padding-bottom: 13px !important;
    color: #3F3F3F !important;
}
.development-process-steps {
    display: flex;
    flex-direction: column;
    gap: 37px;
    padding-top: 0px;
}

.hiring-models-box > h2::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    background: var(--root-black-color);
    bottom: 0;
} */

@media (max-width: 1360px) {
  .development-process-steps-con {
    gap: 100px;
  }

  .how-do-we-work-cards-con {
    gap: 44px;
  }

  .how-do-we-work-inner-box > h2 {
    font-size: 27px;
  }
}

@media (max-width: 1199px) {
  .development-process-steps-con {
    gap: 160px;
  }

  .our-integration-service-2-cards-con {
    gap: 40px;
  }

  #how-do-we-work-card-4::before {
    top: -12%;
  }

  #how-do-we-work-card-44::after {
    top: 29%;
  }

  #how-do-we-work-card-22::after {
    top: 29%;
  }

  #how-do-we-work-card-2::before {
    top: -12%;
  }
}

@media (max-width: 1024px) {
  #how-do-we-work-card-44::after {
    top: 24%;
  }
  #how-do-we-work-card-4::before {
    top: -10%;
  }
  #how-do-we-work-card-3::before {
    top: -10%;
  }
  .how-do-we-work-cards-con {
    gap: 30px;
  }
  #how-do-we-work-card-33::after {
    top: 29%;
  }
  #how-do-we-work-card-22::after {
    top: 25%;
  }
}

@media (max-width: 991px) {
  #how-do-we-work-card-22::after {
    top: 33%;
  }
  #how-do-we-work-card-33::after,
  #how-do-we-work-card-44::after {
    top: 32%;
  }
  .search_campaigns_box {
    height: 250px;
  }

  .our-healthcare-card {
    padding: 25px 25px 25px 25px;
  }

  .healthcare-card-desc > p {
    font-size: 16px;
  }

  .healthcare-card-desc > h2 {
    font-size: 22px;
  }

  .development-process-steps {
    padding-bottom: 15px;
  }

  .development-process-steps-con {
    gap: 35px;
  }

  .ads_tabs {
    margin: 0 0 0px 0;
  }

  .how-do-we-work-cards-con {
    gap: 30px;
    flex-wrap: wrap;
  }

  .how-do-we-work-card {
    width: calc(50% - 15px) !important;
  }

  #how-do-we-work-card-4::before,
  #how-do-we-work-card-1::before,
  #how-do-we-work-card-2::before,
  #how-do-we-work-card-3::before,
  #how-do-we-work-card-2::before,
  #how-do-we-work-card-1::before {
    content: none !important;
  }
}

@media (max-width: 767px) {
  .integration-service > h1,
  .tab_title {
    font-size: 40px;
  }

  .search_campaigns_box {
    height: 357px;
  }

  .search_ads_box:after {
    bottom: -59%;
  }

  .how-do-we-works-con > h1 {
    font-size: 40px !important;
  }

  .how-do-we-work-cards-con {
    flex-wrap: wrap;
  }

  #how-do-we-work-card-11::after {
    height: 70px;
    top: 38%;
  }

  #how-do-we-work-card-22::after {
    height: 70px;
    top: 35%;
  }

  #how-do-we-work-card-33::after {
    height: 70px;
    top: 35%;
  }

  #how-do-we-work-card-44::after {
    height: 70px;
    top: 35%;
  }

  #how-do-we-work-card-1::before {
    top: -25%;
  }

  #how-do-we-work-card-2::before {
    top: -25%;
  }

  #how-do-we-work-card-3::before {
    top: -25%;
  }

  #how-do-we-work-card-4::before {
    top: -25%;
  }
}

@media (max-width: 575px) {
  #how-do-we-work-card-22::after,
  #how-do-we-work-card-44::after,
  #how-do-we-work-card-33::after {
    top: 39%;
  }
  .how-do-we-work-card {
    width: calc(100% - 0px) !important;
  }
  .how-do-we-work-cards-con {
    justify-content: space-between;
  }

  .search_campaigns_box {
    height: 305px;
  }

  .search_ads_box:after {
    bottom: -48%;
  }

  .development-process-steps {
    gap: 25px;
  }
}

@media (max-width: 480px) {
  .search_campaigns_box {
    height: 174px;
  }

  .search_campaigns_box {
    width: 100%;
  }

  .search_ads_box:after {
    bottom: -25%;
    height: 100%;
  }
}

@media (max-width: 375px) {
  .search_campaigns_box {
    height: 233px;
  }

  .search_ads_box:after {
    bottom: -17%;
    height: 80%;
  }

  .integration-service > h1,
  .tab_title,
  .development-process-con h1 {
    font-size: 35px;
  }

  .benefits_text {
    font-size: 16px;
  }

  .ads_tabs {
    padding-block: 40px;
  }

  .development-process-steps-img img {
    width: 100%;
  }

  .our-integration-service-2-cards-con {
    gap: 25px;
  }
}
