:root {
    --root-black-color: #3f3f3f;
    --gradient-color: linear-gradient(244.73deg, #04bfd7 -48.91%, #63388b 79.49%);
    --white-color: #fff;
    --purple-color: #63388b;
    --gradient-color-2: linear-gradient(180deg, #63388b 0%, #3a73ac 100%);
}

/* <!-- ************************************************banner********************************************** --> */
.banner-section-our-services {
    padding-block: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(../assets/images/our_services_banner.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 400px;
    height: 400px;
}
/* <!-- ************************************************banner********************************************** --> */
/* <!-- ************************************************banner********************************************** --> */
.development-section {
    padding: 100px 0 100px 0;
    /* background-color: #f8f9fa; */
}

/* .container {
    max-width: 1200px;
    margin: 0 auto;
} */

.development-header {
    text-align: center;
    margin-bottom: 40px;
}

.development-title {
    font-family: Rajdhani;
    font-size: 44px;
    font-weight: 700;
    line-height: 53.24px;
    text-align: center;
    color: var(--root-black-color);
    position: relative;
    margin-bottom: 10px;
}

.development-text {
    font-family: Rubik;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    color: #3F3F3F;
    text-align: center;
    /* margin: 0 100px 20px 100px; */
}

.development-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 40px;
}

.development-image {
    /* flex: 1 1 300px; */
    text-align: center;
}

.development-image img {
    max-width: 100%;
    height: auto;
}

.development-steps {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
}

.step {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.step-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.step-number {
    font-family: Rubik;
    font-size: 20px;
    font-weight: 500;
    color: #494949;
    background-color: #FFF;
    width: 45px;
    height: 45px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-right: 20px;
    box-shadow: 0px 4px 16.3px 0px #00000040;
}

.step-content {
    /* display: flex;
    flex-direction: column; */
}

.step-content h5 {
    font-family: Rubik;
    font-size: 22px;
    font-weight: 500;
    color: #494949;
    margin: 0;
}

.step-content p {
    font-family: Rubik;
    font-size: 18px;
    font-weight: 300;
    line-height: 26.46px;
    color: #555;
    margin-top: 5px;
}


.type-header {
    text-align: center;
    margin-bottom: 40px;
}

.type-title {
    font-family: Rajdhani;
    font-size: 44px;
    font-weight: 700;
    line-height: 53.24px;
    text-align: center;
    color: var(--root-black-color);
    position: relative;
    margin-bottom: 10px;
}

.type-text {
    font-family: Rubik;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    color: #3F3F3F;
    text-align: center;
    /* margin: 0 100px 20px 100px; */
}

.type-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 0fr));
    gap: 98px;
    padding: 20px 0 20px 0;
}

.type-card {
    background: #fff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: relative;
}
.number{
    color: #FFF;
    font-weight: 700;
    font-size: 29px;
    font-family: 'Rajdhani';
    line-height: 35.09px;
    margin: 0px;
    position: relative;
    z-index: 10;
}
.card-number {
    position: absolute;
    top: -30px;
    left: 0px;
    background: linear-gradient(244.73deg, #04BFD7 -48.91%, #63388B 79.49%);
    /* color: #fff; */
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
   
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 5px solid rgba(255, 255, 255, 0.5);
}

.card-number::after {
    content: '';
    position: absolute;
    top: -15px;
    left: -15px;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background: linear-gradient(244.73deg, rgba(4, 191, 215, 0.39) -48.91%, rgba(99, 56, 139, 0.39) 79.49%);

}
.card-content {
    margin-top: 30px;
}

.card-content img {
    width: 80px;
    height: 80px;
    margin-bottom: 15px;
}

.card-content h5 {
    font-family: Rubik;
    font-size: 22px;
    font-weight: 500;
    line-height: 28.6px;
    text-align: center;
    color: #494949;

}   
/* Default Styles (Base) */
/* No media query here; your default styles */

@media (max-width: 1600px) {
    .development-title, .type-title {
        font-size: 44px;
    }
    .type-cards {
        gap: 80px;
    }
    /* .card-number {
        top: -25px;
    } */
}

@media (max-width: 1440px) {
    .development-title, .type-title {
        font-size: 44px;
    }
    .development-text, .type-text {
        font-size: 20px;
    }
    .type-cards {
        grid-template-columns: repeat(3, 1fr);
    }
    /* .card-number {
        width: 65px;
        height: 65px;
        top: -20px;
    } */
}

@media (max-width: 1360px) {
    .development-title, .type-title {
        font-size: 44px;
    }
    .development-text, .type-text {
        font-size: 20px;
    }
    .type-cards {
        gap: 60px;
    }
    /* .card-number {
        width: 60px;
        height: 60px;
    } */
}

@media (max-width: 1280px) {
    .development-title, .type-title {
        font-size: 44px;
    }
    .type-cards {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 1199px) {
    .development-title, .type-title {
        font-size: 44px;
    }
    /* .card-content img {
        width: 70px;
        height: 70px;
    } */

    .development-steps{
        gap:0px;
    }
}

@media (max-width: 991px) {
    .type-cards {
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
    }
    .development-title, .type-title {
        font-size: 44px;
    }
    /* .card-number {
        width: 55px;
        height: 55px;
    } */
    .development-steps{
        gap:60px;
    }
    .development-image img{
        padding-left: 90px;
    }
}

@media (max-width: 767px) {
    .type-cards {
        grid-template-columns: repeat(1, 1fr);
    }
    .development-title, .type-title {
        font-size: 40px;
        line-height: 40px;
    }
    .development-text, .type-text {
        font-size: 20px;
    }
    .development-image img{
        padding-left: 0px;
    }
    .development-steps{
        gap:0;
        flex-direction: column;
    }
}

@media (max-width: 575px) {
    .type-cards {
        gap: 65px;
    }
    .card-number {
        width: 50px;
        height: 50px;
    }
    .card-number::after{
        width: 70px;
        height: 70px;
    }
    .card-content img {
        width: 60px;
        height: 60px;
    }
    .development-title, .type-title {
        font-size: 36px;
    }
    .development-image img{
        padding-left: 0px;
    }
    .development-steps{
        gap:1px;
    }
}

@media (max-width: 450px) {
    .development-title, .type-title {
        font-size: 36px;
    }
    .type-cards {
        gap: 70px;
    }
    .development-text, .type-text {
        font-size: 16px;
    }
    .development-steps{
        gap:0;
    }
}

@media (max-width: 367px) {
    .development-title, .type-title {
        font-size: 36px;
    }
    .development-text, .type-text {
        font-size: 16px;
    }
    .development-steps{
        gap:0;
    }
}
