:root {
  --root-black-color: #3f3f3f;
  --gradient-color: linear-gradient(244.73deg, #04bfd7 -48.91%, #63388b 79.49%);
  --white-color: #fff;
  --purple-color: #63388b;
  --gradient-color-2: linear-gradient(180deg, #63388b 0%, #3a73ac 100%);
}

/* <!-- ************************************************banner********************************************** --> */
.banner-section-managed-services {
  position: relative;
  padding-block: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(../assets/images/managed_services.webp) center / cover no-repeat;
  min-height: 400px;
  height: 400px;
}

/* Overlay */
.banner-section-managed-services::before {
  content: "";
  position: absolute;
  inset: 0;
  background: #00000080;
  z-index: 1;
}

.banner-section-managed-services>* {
  position: relative;
  z-index: 2;
}

.Success-Stories-services{
  margin-bottom: 40px;
}
@media (max-width:768px) {
  .banner-section-about-con h1 {
    font-size: 50px;
    line-height: 77.44px;
}
/* .banner-section-managed-services {
  background-position: left;
} */
}
@media (max-width:480px) {

  .banner-section-managed-services {
      min-height: 200px;
      height: 200px;
  }

  .banner-section-about-con h1 {
    font-size: 45px;
    line-height: 50.44px;
}
}
/* .banner-section-about {
  background: url(../assets/images/services_manageItService/banner.svg) center;
} */
