:root {
  --root-black-color: #3f3f3f;
  --gradient-color: linear-gradient(244.73deg, #04bfd7 -48.91%, #63388b 79.49%);
  --white-color: #fff;
  --purple-color: #63388b;
  --gradient-color-2: linear-gradient(180deg, #63388b 0%, #3a73ac 100%);
}

/* <!-- ************************************************banner********************************************** --> */
.banner-section-web-development-services {
  padding-block: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(../assets/images/QA_testing_banner.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 400px;
  height: 400px;
}


.banner-section-about-con h1 {
  font-family: Rajdhani;
  font-size: 64px;
  font-weight: 700;
  line-height: 77.44px;
  text-align: center;
  color: #ffffff;
  margin: 0;
}
#about-hero-info {
  margin-top: 40px;
  margin-bottom: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}


/* @media only screen and (max-width: 768px) {
  .Why-Should-You-Choose-UIUX-Design-tab-box-p1 {
    font-size: 22px;
    line-height: 24.04px;
  }
  .Why-Should-You-Choose-UIUX-Design-con{
    flex-direction: column;
    gap: 0;
  }
  .our-services-info-box-right h1{
    font-size: 40px;
  }
}

@media only screen and (max-width: 576px) {
  .Why-Should-You-Choose-UIUX-Design-tab-box-p1 {
    font-size: 21px;
    line-height: 25.04px;
  }

  .Why-Should-You-Choose-UIUX-Design-tab-box-p2 {
    padding-right: 0;
    margin-top: 7px;
    font-size: 17px;
    line-height: 22px;
  }

  .Why-Should-You-Choose-UIUX-Design-tab-box {
    padding: 12px 15px;
  }
  .our-services-info-box-right h1{
    font-size: 35px;
    line-height: 45px;
  }
} */
