:root {
  --root-black-color: #3f3f3f;
  --gradient-color: linear-gradient(244.73deg, #04bfd7 -48.91%, #63388b 79.49%);
  --white-color: #fff;
  --purple-color: #63388b;
  --gradient-color-2: linear-gradient(180deg, #63388b 0%, #3a73ac 100%);
}

/* <!-- ************************************************banner********************************************** --> */
.banner-section-web-development-services {
  padding-block: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(../assets/images/QA_testing_banner.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 400px;
  height: 400px;
}

.banner-section-about-con h1 {
  font-family: Rajdhani;
  font-size: 64px;
  font-weight: 700;
  line-height: 77.44px;
  text-align: center;
  color: #ffffff;
  margin: 0;
}

#about-hero-info {
  margin-top: 40px;
  margin-bottom: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.how-do-we-work-inner-box p {
  padding: 45px 22px 43px 22px;
}

h2.heading.how_text_mobile_view {
  height: auto;
}

.how-do-we-work-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: calc(25% - 20px);
  gap: 53px;
  position: relative;
  cursor: pointer;
}

#how-do-we-work-card-1::before {
  content: "";
  width: 80%;
  height: 10px;
  position: absolute;
  background: #574690;
  top: -33%;
  left: 10%;
}

#how-do-we-work-card-2::before {
  content: "";
  width: 80%;
  height: 10px;
  position: absolute;
  background: #4f549b;
  top: -33%;
  left: 10%;
}

#how-do-we-work-card-11::after {
  content: "";
  width: 100%;
  height: 95px;
  position: absolute;
  background: #574690;
  top: 38%;
  left: 0%;
  z-index: 1;
}

#how-do-we-work-card-22::after {
  content: "";
  width: 100%;
  height: 95px;
  position: absolute;
  background: #4f549b;
  top: 38%;
  left: 0%;
  z-index: 1;
}

/* @media only screen and (max-width: 768px) {
  .Why-Should-You-Choose-UIUX-Design-tab-box-p1 {
    font-size: 22px;
    line-height: 24.04px;
  }
  .Why-Should-You-Choose-UIUX-Design-con{
    flex-direction: column;
    gap: 0;
  }
  .our-services-info-box-right h1{
    font-size: 40px;
  }
}*/
@media (max-width:1200px) {
  #how-do-we-work-card-44::after {
    top: 38%;
  }

  #how-do-we-work-card-2::before {
    top: -25%;
  }

  #how-do-we-work-card-1::before {
    top: -25%;
  }
}

@media (max-width:1024px) {
  #how-do-we-work-card-44::after {
    top: 44%;
  }

  #how-do-we-work-card-4::before {
    top: -21%;
  }

  #how-do-we-work-card-3::before {
    top: -21%;
  }

  #how-do-we-work-card-22::after {
    top: 30%;
  }

  #how-do-we-work-card-2::before {
    top: -17%;
  }

  #how-do-we-work-card-1::before {
    top: -21%;
  }
}

@media (max-width: 992px) {

  #how-do-we-work-card-11::after,
  #how-do-we-work-card-22::after,
  #how-do-we-work-card-33::after,
  #how-do-we-work-card-44::after {
    top: 41%;
  }

  #how-do-we-work-card-44::after,
  #how-do-we-work-card-11::after,
  #how-do-we-work-card-22::after,
  #how-do-we-work-card-33::after {
    height: 70px;
  }

  .how-do-we-work-card {
    width: calc(50% - 20px);
    gap: 45px;
  }

  .how-do-we-work-cards-con {
    flex-wrap: wrap;
  }

  h2.heading.how_text_mobile_view {
    height: auto;
  }
}

@media (max-width: 768px) {
  h2.heading.how_text_mobile_view {
    height: auto;
  }

  #how-do-we-work-card-11::after {
    height: 70px;
    top: 41%;
  }
}

@media only screen and (max-width: 576px) {
  #how-do-we-work-card-22::after {
    top: 41%;
  }

  #how-do-we-work-card-33::after {
    top: 38%;
  }

  h2.heading.how_text_mobile_view {
    height: auto;
  }

  #how-do-we-work-card-11::after {
    top: 41%;
  }
}

@media (max-width:320px) {
  #how-do-we-work-card-22::after,
  #how-do-we-work-card-33::after,
  #how-do-we-work-card-11::after,
  #how-do-we-work-card-44::after {
    top: 36%;
  }
}