:root {
  --root-black-color: #3f3f3f;
  --gradient-color: linear-gradient(244.73deg, #04bfd7 -48.91%, #63388b 79.49%);
  --white-color: #fff;
  --purple-color: #63388b;
  --gradient-color-2: linear-gradient(180deg, #63388b 0%, #3a73ac 100%);
}

/* <!-- ************************************************banner********************************************** --> */
.banner-section-web-development-services {
  position: relative;
  padding-block: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(../assets/images/software_development.webp) center / cover no-repeat;
  min-height: 400px;
  height: 400px;
}

/* Overlay */
.banner-section-web-development-services::before {
  content: "";
  position: absolute;
  inset: 0;
  background: #00000080;
  z-index: 1;
}

.banner-section-web-development-services>* {
  position: relative;
  z-index: 2;
}

.banner-section-about-con h1 {
  font-family: 'Rajdhani', sans-serif;
  font-size: 64px;
  font-weight: 700;
  line-height: 77.44px;
  text-align: center;
  color: #ffffff;
  margin: 0;
}

#about-hero-info {
  margin-top: 40px;
  margin-bottom: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .banner-section-about {
  background: url(../assets/images/services_softwareDevelopment/banner.svg)
    center;
} */

/* <!-- **************************************************technology-expertise************************************** --> */

.services_softwareDevelopment .technology-frameworks-heading-con {
  padding: 7px 0px;
  margin-inline: 0px;
  gap: 83px;
  justify-content: space-between;
}

.services_softwareDevelopment .technology-frameworks-heading {
  width: fit-content;
}

@media only screen and (max-width: 1024px) {
  .services_softwareDevelopment .technology-frameworks-heading-con {
    gap: 77px;
    overflow-x: scroll;
  }
}

@media only screen and (max-width: 992px) {
  .services_softwareDevelopment .technology-frameworks-heading-con {
    gap: 52px;
    overflow-x: scroll;
  }
}

@media (max-width:768px) {
  .frameworks-image-box-con {
    flex-wrap: wrap;
  }
}

@media (max-width:480px) {
  .banner-section-web-development-services {
    height: 200px;
    min-height: 200px;
  }
}
