:root {
  --root-black-color: #3f3f3f;
  --gradient-color: linear-gradient(244.73deg, #04bfd7 -48.91%, #63388b 79.49%);
  --white-color: #fff;
  --purple-color: #63388b;
  --gradient-color-2: linear-gradient(180deg, #63388b 0%, #3a73ac 100%);
}

/* <!-- ************************************************banner********************************************** --> */
/* .banner-section-technology-main {
  padding-block: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(../assets/images/integration_services_banner.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 400px;
  height: 400px;
} */
.banner-section-about {
  background: url(../assets/images/services_mainPage/banner.svg) center;
}



/* <!-- ***************************************************types of services we offer************************************** --> */

.type-of-services-cards-con {
  margin-top: 80px;
  margin-left: 40px;
  display: flex;
  flex-direction: column;
  gap: 76px;
}

.type-of-services-subcards-con {
  display: flex;
  gap: 116px;
}

.type-of-services-card {
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px #00000040;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: calc(33.33% - 29px);
  flex: 1;
}

.type-of-services-card > p {
  font-family: Rubik;
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
  text-align: center;
  color: var(--root-black-color);
  margin-top: 19px;
}

.number-outer-con {
  height: 90px;
  width: 90px;
  background: linear-gradient(
    244.73deg,
    rgba(4, 191, 215, 0.39) -48.91%,
    rgba(99, 56, 139, 0.39) 79.49%
  );
  padding: 15px;
  border-radius: 50%;

  margin-top: -75px;
  margin-left: -130%;
}

.number-middle-con {
  height: 60px;
  width: 60px;
  background: linear-gradient(
    244.73deg,
    rgba(4, 191, 215, 0.39) -48.91%,
    rgba(99, 56, 139, 0.39) 79.49%
  );
  padding: 3px;
  border-radius: 50%;
}

.number-inner-con {
  height: 54px;
  width: 54px;
  background: linear-gradient(244.73deg, #04bfd7 -48.91%, #63388b 79.49%);
  border-radius: 50%;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.number-inner-con > p {
  font-family: Rajdhani;
  color: white;
  font-weight: 700;
  font-size: 32px;
}

/* @media only screen and (max-width: 1360px) {
}
@media only screen and (max-width: 1200px) {
  .empowering-desc-con {
    gap: 100px;
  }

  .empowering-card {
    padding: 30px;
  }
}
@media only screen and (max-width: 1024px) {
  .empowering-cards-con {
    gap: 50px;
  }

  .empowering-con {
    gap: 50px;
  }
  .type-of-services-subcards-con {
    gap: 50px;
  }
}
@media only screen and (max-width: 992px) {
  .empowering-desc > h2 {
    margin-right: 0%;
  }
}
@media only screen and (max-width: 768px) {
  .empowering-desc {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .empowering-desc > h1 {
    font-size: 40px;
    text-align: center;
    line-height: 40.24px;
  }
  .empowering-desc > h2 {
    font-size: 30px;
    line-height: 35.35px;
    text-align: center;
  }

  .Explore-Our-Services {
    margin-top: 35px;
    margin-inline: auto;
    display: inline-block;
  }

  .empowering-desc > p {
    font-size: 18px;

    line-height: 24.46px;
    text-align: center;

    margin-top: 20px;
  }
  .empowering-desc-con {
    flex-direction: column;
  }

  .empowering-desc {
    width: 100%;
  }

  .empowering-card {
    padding: 30px;
    width: calc(100% - 25px);
  }

  .type-of-services-subcards-con {
    flex-wrap: wrap;
  }

  .type-of-services-subcards-con {
    column-gap: 116px;
    row-gap: 80px;
  }

  .type-of-services-cards-con {
    margin-left: 50px;
  }

  .type-of-services-card {
    width: calc(50% - 58px);
    flex: unset;
  }
}
@media only screen and (max-width: 576px) {
  .empowering-card {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .empowering-icon-con {
    margin: 0 auto;
  }

  .empowering-card > h2 {
    font-size: 28px;

    line-height: 27.72px;
    text-align: center;
  }

  .empowering-card > p {
    font-size: 18px;

    line-height: 24.46px;
    text-align: center;
  }

  .empowering-card .empower-read-more {
    margin-inline: auto;
  }
}
@media only screen and (max-width: 480px) {
  .type-of-services-cards-con {
    margin-left: 25px;
  }

  .type-of-services-subcards-con {
    column-gap: 70px;
  }

  .type-of-services-card {
    width: calc(50% - 35px);
    flex: unset;
  }
}
@media only screen and (max-width: 376px) {
  .type-of-services-card {
    width: 100%;
  }

  .number-outer-con {
    margin-left: 0%;
  }

  .type-of-services-cards-con {
    margin-left: 0px;
  }

  .empowering-card {
    padding: 20px;
  }
}
@media only screen and (max-width: 320px) {
} */
