:root {
  --root-black-color: #3f3f3f;
  --gradient-color: linear-gradient(244.73deg, #04bfd7 -48.91%, #63388b 79.49%);
  --white-color: #fff;
  --purple-color: #63388b;
  --gradient-color-2: linear-gradient(180deg, #63388b 0%, #3a73ac 100%);
}

/* <!-- ************************************************banner********************************************** --> */
.banner-section-managed-services {
  padding-block: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(../assets/images/managed_services.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 400px;
  height: 400px;
}
.Success-Stories-services{
  margin-bottom: 40px;
}
@media (max-width:768px) {
  .banner-section-about-con h1 {
    font-size: 50px;
    line-height: 77.44px;
}
}
@media (max-width:480px) {
  .banner-section-about-con h1 {
    font-size: 45px;
    line-height: 50.44px;
}
}
/* .banner-section-about {
  background: url(../assets/images/services_manageItService/banner.svg) center;
} */
