* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a,
span,
a:hover,
a:active,
button {
    text-decoration: none;
}

a,
div a:hover,
div a:active,
div a:focus,
button {
    text-decoration: none;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}

p {
    margin: 0;
}

body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
    margin: 0;
}

ul,
a {
    list-style: none;
    margin: 0;
}

img {
    max-width: 100%;
}

.cm-overflow {
    overflow: hidden;
}

body.cm-overflow {
    overflow: visible;
}

.container {
    /* max-width: 1440px; */
    padding: 0 15px;
}

ol,
ul {
    padding-left: 0px;
}

/* :root {
    --root-black-color: #3f3f3f;
    --gradient-color: linear-gradient(244.73deg, #04bfd7 -48.91%, #63388b 79.49%);
    --white-color: #fff;
} */
/* h1,h2,h3,h4,h5,h6,p,ul,li{
    margin: 0px;
    padding: 0px;
} */
a:hover {
    color: #0056b3;
    text-decoration: none !important;
}

a {
    text-decoration: none !important;
}

/* <!-- ************************************************banner********************************************** --> */
.text_left {
    text-align: left;
}

.banner-section-our-services {
    position: relative;
    padding-block: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(../assets/images/our_services_banner.webp) center / cover no-repeat;
    min-height: 400px;
    height: 400px;
}

/* Overlay */
.banner-section-our-services::before {
    content: "";
    position: absolute;
    inset: 0;
    background: #00000080;
    z-index: 1;
}

.banner-section-our-services>* {
    position: relative;
    z-index: 2;
}

.development-section {
    padding: 60px 0 60px 0;
    /* background-color: #f8f9fa; */
}

.development-header {
    text-align: center;
    margin-bottom: 40px;
}

.development-title {
    font-family: 'Rajdhani', sans-serif;
    font-size: 44px;
    font-weight: 700;
    line-height: 53.24px;
    text-align: center;
    color: var(--root-black-color);
    position: relative;
    margin-bottom: 10px;
}

.development-text {
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    color: #3F3F3F;
    text-align: center;
    /* margin: 0 100px 20px 100px; */
}

.development-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 40px;
}

.development-image {
    /* flex: 1 1 300px; */
    text-align: center;
}

.development-image img {
    max-width: 100%;
    height: auto;
}

.development-steps {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.step {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.step-wrapper {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
}

.step-number {
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: #494949;
    background-color: #FFF;
    width: 45px;
    height: 45px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-right: 20px;
    box-shadow: 0px 4px 16.3px 0px #00000040;
}

.step-content {
    /* display: flex;
    flex-direction: column; */
}

.step-content h5 {
    font-family: 'Rubik', sans-serif;
    font-size: 22px;
    font-weight: 500;
    color: #494949;
    margin: 0;
}

.step-content p {
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 26.46px;
    color: #555;
    margin-top: 5px;
}


.type-header {
    text-align: center;
    margin-bottom: 40px;
}

.type-title {
    font-family: 'Rajdhani', sans-serif;
    font-size: 44px;
    font-weight: 700;
    line-height: 53.24px;
    text-align: center;
    color: var(--root-black-color);
    position: relative;
    margin-bottom: 10px;
}

.type-text {
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    color: #3F3F3F;
    text-align: center;
    /* margin: 0 100px 20px 100px; */
}

.type-section {
    padding-block: 60px;
}

.type-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(238px, 0fr));
    gap: 98px;
    padding: 20px 0 20px 0;
}

.type-card {
    background: #fff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0px 0px 10px 0px #00000040;
    text-align: center;
    position: relative;
}

.number {
    color: #FFF;
    font-weight: 700;
    font-size: 29px;
    font-family: 'Rajdhani';
    line-height: 35.09px;
    margin: 0px;
    position: relative;
    z-index: 10;
}

.card-number {
    position: absolute;
    top: -30px;
    left: -21px;
    background: linear-gradient(244.73deg, #04BFD7 -48.91%, #63388B 79.49%);
    /* color: #fff; */
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 5px solid rgba(255, 255, 255, 0.5);
}

.card-number::after {
    content: '';
    position: absolute;
    top: -15px;
    left: -15px;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background: linear-gradient(244.73deg, rgba(4, 191, 215, 0.39) -48.91%, rgba(99, 56, 139, 0.39) 79.49%);
}

.card-content {
    margin-top: 30px;
}

.card-content img {
    width: 80px;
    height: 80px;
    margin-bottom: 15px;
}

.card-content h5 {
    font-family: 'Rubik', sans-serif;
    font-size: 22px;
    font-weight: 500;
    line-height: 28.6px;
    text-align: center;
    color: #494949;
}

.techo_title {
    font-size: 32px;
    font-weight: 700;
    font-family: 'Rajdhani', sans-serif;
    margin: 15px 0 !important;
}

.techo_text {
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    font-weight: 400;
}

.techo_button {
    padding: 10px 16px;
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid #63388B;
    color: #3F3F3F;
    margin-top: 15px;
    display: flex;
    align-items: center;
    gap: 7px;
    font-size: 17px;
    font-weight: 600;
    font-family: 'Rubik', sans-serif;
}

/* <!-- ************************************************ Empowering Your ********************************************** --> */
.empowering_title {
    font-size: 44px;
    line-height: 53.24px;
    font-weight: 700;
    font-family: 'Rajdhani', sans-serif;
    padding-bottom: 20px;
}

.empowering_text_1 {
    font-size: 35px;
    font-weight: 700;
    font-family: 'Rajdhani', sans-serif;
    line-height: 42.35px;
}

.empowering_text_2 {
    font-size: 18px;
    font-weight: 400;
    line-height: 26.46px;
    font-family: 'Rubik', sans-serif;
    padding: 25px 0px;
}

.explore_our_services {
    border-radius: 5px;
    background: linear-gradient(244.73deg, #04BFD7 -48.91%, #63388B 79.49%);
    padding: 12px 23px;
    color: white;
    font-size: 16px;
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 7px;
    width: fit-content;
    border: 2px solid white;
    margin-bottom: 0px;
}

.explore_our_services:hover {
    background: transparent;
    padding: 12px 23px;
    color: #63388b;
    border: 2px solid black;
}

.empowering_box {
    box-shadow: 0px 0px 10px 0px #00000040;
    margin: 15px 0px;
    border-radius: 10px;
    padding: 35px;
    height: 100%;
}

.empowering_box:hover {
    background: linear-gradient(244.73deg, rgba(4, 191, 215, 0.3) -48.91%, rgba(99, 56, 139, 0.3) 79.49%);
}

.card_hover {
    position: relative;
    z-index: 0;
}

.our-white-img {
    display: none;
}

.empowering-card:hover .before-our-img {
    display: none;
}

.empowering-card:hover .our-white-img {
    display: block;
}

.empowering-card:hover .empowering-icon-con {
    background: linear-gradient(244.73deg, #04bfd7 -48.91%, #63388b 79.49%);
}

/* .empowering_box:hover .card_hover{
    content: "";
    background-image: url('../assets/images/technology/card_1.svg');
    position: relative;
    z-index: 5;
} */
.empowering_box:hover .techo_button {
    background: linear-gradient(244.73deg, #04BFD7 -48.91%, #63388B 79.49%);
    color: white;
    border: 1px solid transparent;
    transition: background 0.3s, color 0.3s;
}

.techo_card_btn {
    padding-top: 20px;
}

.faq_section {
    padding-block: 60px;
    margin-bottom: 40px;
}

.faq-con h2 {
    font-size: 44px;
    font-weight: 700;
    font-family: 'Rajdhani', sans-serif;
    margin-bottom: 20px !important;
    text-align: center;
    margin: 0;
}

/* .wrapper-section{
    padding-block: 60px;
} */
/* .empowering-card:hover {
  background: linear-gradient(
    244.73deg,
    rgba(4, 191, 215, 0.3) -48.91%,
    rgba(99, 56, 139, 0.3) 79.49%
  );
}

.empowering-card:hover .our-white-img {
  display: block;
}

.empowering-card:hover .before-our-img {
  display: none;
}

.empowering-card:hover .empowering-icon-con {
  background: linear-gradient(244.73deg, #04bfd7 -48.91%, #63388b 79.49%);
}

.empowering-card:hover .empower-read-more {
  background: linear-gradient(244.73deg, #04bfd7 -48.91%, #63388b 79.49%);
  color: var(--white-color);
  border: none;
} */
/* ************************************************** Let's Discuss Your Project **************************************************** */
/* .discuss-project-con > h2 {
    font-family: 'Rajdhani', sans-serif;
    font-size: 44px;
    font-weight: 700;
    line-height: 58.08px;
    text-align: left;
    color: var(--root-black-color);
}
.discuss-project-con {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}
.discuss-project-con > p {
    font-family: 'Rubik', sans-serif;
    font-size: 26px;
    font-weight: 400;
    line-height: 38.22px;
    text-align: left;
    color: var(--root-black-color);
    margin: 0px;
}
.get-in-touch-discuss-project {
    color: var(--white-color);
    background: var(--gradient-color-2);
    border-radius: 50px;
    cursor: pointer;
    border: none;
    outline: none;
    font-family: 'Rubik', sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 28.44px;
    text-align: center;
    width: fit-content;
    padding: 12px 30px;
    display: flex;
    align-items: center;
    border: 2px solid white;
    gap: 10px;
}
.get-in-touch-discuss-project:hover {
    border: 2px solid var(--root-black-color);
    background: transparent;
    color: #63388b;
}

.apply-info {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 11px;
}
.apply-info-text {
    display: flex;
    align-items: center;
    gap: 20px;
}
.apply-info-text > strong {
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 27.18px;
    text-align: left;
    color: var(--root-black-color);
}
.apply-info-text > p {
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 27.18px;
    text-align: left;
    color: var(--root-black-color);
    margin: 0;
}
.apply-info-second-p {
    margin-left: 15px;
} */



/* No media query here; your default styles */

@media (max-width: 1600px) {

    .development-title,
    .type-title {
        font-size: 44px;
    }

    .type-cards {
        gap: 80px;
    }

    /* .card-number {
        top: -25px;
    } */
}

@media (max-width: 1440px) {

    .development-title,
    .type-title {
        font-size: 44px;
    }

    .development-text,
    .type-text {
        font-size: 20px;
    }

    .type-cards {
        grid-template-columns: repeat(3, 1fr);
    }

    /* .card-number {
        width: 65px;
        height: 65px;
        top: -20px;
    } */
}

@media (max-width: 1360px) {

    .development-title,
    .type-title {
        font-size: 44px;
    }

    .development-text,
    .type-text {
        font-size: 20px;
    }

    .type-cards {
        gap: 60px;
    }

    /* .card-number {
        width: 60px;
        height: 60px;
    } */
}

@media (max-width: 1280px) {

    .development-title,
    .type-title {
        font-size: 44px;
    }

    .type-cards {
        grid-template-columns: repeat(3, 1fr);
        padding: 20px 55px 0;
    }
}

@media (max-width: 1199px) {

    .development-title,
    .type-title {
        font-size: 44px;
    }

    .development-steps {
        gap: 0px;
    }

    .explore_our_services {
        margin-bottom: 20px;
    }
}

@media (max-width:1024px) {
    .transcodezy-navbar-ul>li>a.active {
        color: #ffffff;
    }

    .transcodezy-navbar-ul>li>a.active::before {
        visibility: visible;
        width: 100%;
    }

    .type-cards {
        grid-template-columns: repeat(3, 1fr);
        padding: 20px 35px 0;
    }
}

@media (max-width: 991px) {
    .development-content {
        flex-direction: column;
    }

    .type-cards {
        grid-template-columns: repeat(2, 1fr);
        gap: 70px;
    }

    .development-title,
    .type-title {
        font-size: 44px;
    }

    /* .card-number {
        width: 55px;
        height: 55px;
    } */
    .development-steps {
        gap: 60px;
    }

    .development-image img {
        padding-left: 90px;
    }
}

@media (max-width: 768px) {
    .type-section {
        padding-block: 40px;
    }

    .faq_section {
        padding-block: 40px;
        margin-bottom: 40px;
    }

    .techo_title {
        font-size: 27px;
    }

    .empowering_title {
        font-size: 40px;
        line-height: 40.24px;
        padding-bottom: 12px;
    }

    .empowering_text_1 {
        font-size: 30px;
        line-height: 33.35px;
    }

    .empowering_text_2 {
        line-height: 24.46px;
        padding: 10px 0px;
    }

    .type-cards {
        grid-template-columns: repeat(2, 1fr);
    }

    .development-title,
    .type-title {
        font-size: 40px;
        line-height: 40px;
    }

    .development-text,
    .type-text {
        font-size: 18px;
        padding-top: 10px;
    }

    .development-image img {
        padding-left: 0px;
    }

    .development-steps {
        gap: 0;
    }

    .step-content p {
        font-size: 16px;
        line-height: 22.46px;
    }

    .step-content h5 {
        font-size: 18px;
        padding-bottom: 6px;
    }

    .development-section {
        padding: 40px 0 40px 0;
    }

    #about-hero-info {
        margin-bottom: 25px;
    }

    .development-header {
        text-align: center;
        margin-bottom: 20px;
    }
}

@media (max-width: 575px) {
    .type-cards {
        gap: 65px;
    }

    .card-number {
        width: 55px;
        height: 55px;
    }

    .card-number::after {
        width: 75px;
        height: 75px;
    }

    .card-content img {
        width: 60px;
        height: 60px;
    }

    .development-image img {
        padding-left: 0px;
    }

    .development-steps {
        gap: 1px;
    }
}

@media (max-width: 480px) {
 
    .banner-section-our-services {
            min-height: 200px;
            height: 200px
        }

    .text_align_center {
        text-align: center;
    }

    .managed_line {
        width: 300px;
    }

    .technology-frameworks-heading h1 {
        font-size: 20px;
    }

    .our-intergration-services-con-heading {
        align-items: flex-start !important;
        flex-direction: column;
        gap: 15px;
    }

    .empowering_title,
    .development-title,
    .type-title {
        font-size: 35px;
    }

    .faq-con h2 {
        font-size: 35px !important;
        line-height: 40px;
        margin-bottom: 25px !important;
    }

    .empowering_text_1 {
        font-size: 22px;
        line-height: 25.35px;
    }

    .empowering_text_2 {
        line-height: 21.46px;
        font-size: 16px;
    }

    .techo_text,
    .development-text,
    .type-text {
        font-size: 16px;
        line-height: 23.46px;
    }

    .development-steps {
        flex-direction: column;
    }

    .type-cards {
        grid-template-columns: repeat(1, 1fr);
    }

    .card-content h5 {
        font-size: 20px;
    }

    .step-wrapper {
        margin-bottom: 30px;
    }

    .empowering_box {
        padding: 20px;
    }

    .type-cards {
        gap: 70px;
    }

    .development-steps {
        gap: 0;
    }
}

@media (max-width: 376px) {
    .development-section {
        padding: 30px 0 30px 0;
    }

    .type-section {
        padding-block: 30px;
    }

    .faq_section {
        padding-block: 40px;
        margin-bottom: 25px;
    }

    .faq>p {
        font-size: 17px;
        line-height: 24px;
    }

    .empowering_title,
    .development-title,
    .type-title {
        font-size: 30px;
    }

    .faq-con h2 {
        font-size: 30px;
        margin-bottom: 25px !important;
    }

    .step:nth-last-child() {
        margin-bottom: 0px;
    }

    .development-text,
    .type-text {
        font-size: 16px;
    }

    .development-steps {
        gap: 0;
    }
}